# Configuration File for a MegaLUT training

[setup]

# Pick a name for this set of parameters, to be used in filenames.
# If you leave it blank, the filename will be used instead -- this is the recommended use.
name:

[data]

inputlabels: ["adamom_g1", "adamom_sigma", "adamom_rho4", "tru_gal_x_chip", "tru_gal_y_chip"]
auxinputlabels: []
targetlabels: ["tru_g1"]
predlabels: ["pre_g1_adamom"]

