[setup]

name:
description: To predict weights: sigmoid output, no startidentity, high ininoise, msbwsignorm error

workdir: ./tenbilac-workdir

copyconfig: True
minimize: True
logtofile: True

[norm]
takeover: True

oninputs: True
inputtype: -11

ontargets: False
targettype: -11

[net]

nmembers: 10

# The type of the networks (Net, MultNet)
type: Net
nhs: [3]

mwlist: []


actfctname: tanh
oactfctname: sig
multactfctname: iden

startidentity: True
onlynidentity: -1

addnoise: True
ininoisewscale: 0.1
ininoisebscale: 0.1
ininoisemultwscale: 0.1
ininoisemultbscale: 0.1


[train]

takeover: True

ncpu: 10

errfctname: msbwsignorm


useregul: False

valfrac: 0.2
shuffle: True
mbfrac: 0.25
mbloops: 20
#mbloops: 1


autoplot: True
trackbiases: False
saveeachit: False
verbose: False


# Choice of training algorithm
algo: bfgs


[algo_bfgs]

maxiter: 100
gtol: 1e-8


[predict]

# Selecting the committee members
selbest: True
# How many
bestn: 5
# Which criterion (valerr, trainerr, nit)
bestkey: valerr

combine: mean

