# Configuration File for a MegaLUT training

[setup]

# Pick a name for this set of parameters, to be used in filenames.
# If you leave it blank, the filename will be used instead -- this is the recommended use.
name:

[data]

inputlabels: ["adamom_g2", "adamom_sigma", "adamom_rho4"]
auxinputlabels: []
targetlabels: ["tru_g2"]
predlabels: ["pre_g2_adamom"]

